.card {
    &-logo {
        display: block;
        margin-bottom: 20px;
        width: 82px;
    }

    &-brand {
        font-size: 1.2rem;
        letter-spacing: .35rem;
    }
}

.login {
    &__email {
        margin-bottom: 23px;
    }

    &__password {
        margin-bottom: 40px;
    }

    &__button {
        background: $cyan-clear;
        background: linear-gradient(90deg, $cyan-clear 0%, $cyan-dark 100%);
        border-radius: 1.25rem;
        border: unset;
        color: $white;
        margin-bottom: 40px;
        transition: all 200ms ease-out;
        width: 100%;

        &:hover {
            color: $black;
            box-shadow: 0 0.25rem .75rem rgba(0, 0, 0, 0.15);
            background: linear-gradient(270deg, $cyan-clear 0%, $cyan-dark 100%);
            transition: all 200ms ease-in;
        }
    }

    &__link {
        margin-bottom: 10px;
        text-align: center;
        width: 100%;
        color: $dark-gray;

        &--mbottom {
            color: $metal-gray;
            margin-bottom: 85px;
        }

        &:hover {
            color: $cyan-dark;
        }
    }
}
