.card {
    border: none;
    border-radius: 10px;

    &-header {
        background-color: initial;
        border: none;
        padding-top: 50px;
        padding-bottom: 100px;
    }
}

.form {
    &-control {
        background-color: $white;
        border-radius: 1.25rem;
        border: 2px solid $gray;

        &:focus {
            border-color: $cyan;
            box-shadow: 0 1px 14px -5px $cyan, inset 0 1px 14px -5px $cyan;
        }
    }
}

.btn:focus,
.btn.focus {
    outline: 0;
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
}
